<!-- 
  /* ==========================================================================
  ** Product Table Item  Component
  ** 10/03/2019
  ** Alan Medina Silva
  ** ========================================================================== */
-->

<tr>
  <td data-title="ID">1</td>
  <td data-title="Name">Material Design Color Palette</td>
  <td data-title="Link">
    <a href="https://github.com/zavoloklom/material-design-color-palette" target="_blank">GitHub</a>
  </td>
  <td data-title="Status">Completed</td>
</tr>