<div class="abc-productsLinks">
    <app-navigation-button buttonLink = "" buttonText=" All Products"> </app-navigation-button>
    <app-navigation-button buttonLink = "add-product" buttonText=" Add Product"> </app-navigation-button>
    <app-navigation-button buttonLink = "add-int1" buttonText=" Add Int1"> </app-navigation-button>
    <app-navigation-button buttonLink = "add-int2" buttonText=" Add Int2"> </app-navigation-button>
    <app-navigation-button buttonLink = "add-raw-materials" buttonText="Add Raw Materials"> </app-navigation-button>
</div>